
@import   "./normalize.css";

:root{
    --color-text:#666;
    --color-high-text:#ff5777;
    --color-tint:#ff8198;
    --color-background:#fff;
    --font-size:14px;
    --line-height:1.5;
}

*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    /* 文字抗锯齿 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 禁止用户点击上面的图片的/文字 */
  user-select: none;
   
    /* font-family: ; */
}

a{
    color:var(--color-text);
    text-decoration: none;
}

.left{
    float: left;
}
.right{
    float: right;
}
.clean-fix{
    zoom: 1;
}
.clean-fix::after{
    clear: both;
    content: "";
    display: block;
    width: 0;height: 0;
    visibility: hidden;

}